button {
    height: 30px;
    width: 60px;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 3px 3px 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px 2px 2px;
   
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover{
    background-color: lightgrey;
    color: black;
    font-weight: italic;
    border: 1px solid black;
    
  }
 
  