.displayScreen{
    height: 50px;
    width: 20%;
    border: 2px solid black;
    
    position: relative;
    left: 40%;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(33, 150, 189);
    color: white;
    text-align: right;
    direction: ltr;
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
 
.displayScreen:hover{
    font-size: 15px;
    
  }
 